* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
ul{
    padding-top: 15px;
    float: right;
}

ul li{
    line-height: 10px;
    margin: 0 5px;
}

ul li a{
    font-size: 20px;
    float: right;
    text-transform: uppercase;
    color: #222;
    padding: 8px 14px;
    border-radius: 3px;
}

ul li a:hover{
    background-color: #555;
    transition: 0.5s;
}

.logo{
    height: 160px;
}

nav{
    background-color: #999;
    height: 160px;
}

@media only screen and (max-width: 368px) {
    .logo {
        display: none;
    }    
}