* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    background: url(bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.wrapper{
    width: 400px;
    background-color: #888;
    color: #fcba05;
    border-radius: 10px;
}

.wrapper h1{
    font-size: 34px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.wrapper .input-box{
    width: 100%;
    height: 42px;
    background-color: #fff;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0px 0px 0px 10px;
}

.wrapper .btn{
    width: 100%;
    height: 42px;
    background-color: #fcba05;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}